* {
  color: aliceblue;
}
body {
  background-color: black;
  width: 100%;
  height: 100;
}

.parant {
  margin: 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.card {
  width: 200px;
  border: 1px solid bisque;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font: bold;
    background-color: aliceblue;
    color: black;
  }
}
