*{
  color: aliceblue;
}

body{
    background-color: black;

  height: 100%;
  width: 100%;
}

.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: rgb(25, 24, 24);
   border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}